application.publicDataDirectory=public/data/
application.database-directory=data
application.appBase=

application.allowBootstrapAdminCreate=false

application.oauthEnabled=false
application.oauthKeyTimeout=604800000

application.managerId=abc
application.managerSecret=123

application.name=gtfs-editor
application.mode=prod

# Change the secret before spinning up your environment
application.secret=kVLmtax2My4DmwTzNVqL9IU3dExc5ovzbyybeSjqorKDs3CkGPhDaVVIUu4mXrSw

application.langs=en
date.format=yyyy-MM-dd

application.log=INFO

db.url=jdbc:postgresql://postgis/gtfs-editor
db.driver=org.postgresql.Driver
db.user=postgres
db.pass=postgres

jpa.dialect=org.hibernatespatial.postgis.PostgisDialect
attachments.path=data/attachments
mail.smtp=mock
